* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f7f5;
  color: #2e2e2e;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-content {
  display: flex;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  padding: 30px;
}

h1, h2, h3, .logo {
  font-family: 'Playfair Display', serif;
}

.cursor {
  cursor: pointer;
}
